@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
    /* outline: 1px solid black; */
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf7fa;
    overflow: hidden;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f80002;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.51),
    -2px -2px 5px 0px rgba(0, 0, 0, 0.49);
    border-radius: 10px;
    border: #d50b0b 2px solid;
}

.logo {
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8e2b0;
    user-select: none;
    cursor: pointer;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 
    2px 2px 5px 0px rgb(205, 55, 55),
    -2px -2px 5px 0px rgb(205, 55, 55);
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 475px;
    background-color: #e1e3e2;
    border-radius: 1rem;
    box-shadow: 
    inset 2px 2px 8px 0px rgba(0,0,0,0.75),
    inset -2px -2px 8px 0px rgba(0,0,0,0.75);
    border: #d50b0b 2px solid;
}

.squares-container {
    width: 675px;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden; 
    /* add overflow hidden */
}

.square {
    transition: all 100ms ease;
    user-select: none; 
    /* this is important, user select */
    cursor: pointer;
}

.bottom-buttons {
    width: 800px;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 2px 2px 5px 0px rgba(157, 35, 35, 0.75),
    -2px -2px 5px 0px rgba(162, 37, 37, 0.75);
    user-select: none;
    font-family: monospace;
    font-size: 12px;
}

.egg-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.egg {
    position: absolute;
    width: 50px;
    top: 98.5vh;
}

.egg:hover {
    transform: rotate(15deg);
}